{
	email pedrohvaz85@gmail.com
}

bylink.shop, www.bylink.shop {
	reverse_proxy web-store:3001
}

api.bylink.shop {
	reverse_proxy api:3333
}

admin.bylink.shop {
	reverse_proxy web-admin:3000
}

painel.bylink.shop {
	reverse_proxy web-superadmin:3002
}
